<div class="container">
  <div class="dashboard">
    <div class="sidebar">
      <h3>Mi Cuenta</h3>
      <ul class="sidebar-menu">
        <li><a routerLink="/mascotas" routerLinkActive="active">Mis Mascotas</a></li>
        <li><a routerLink="/paseos" routerLinkActive="active">Solicitar Paseo</a></li>
        <li><a routerLink="/facturacion" routerLinkActive="active">Facturación</a></li>
      </ul>
    </div>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

